html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #EFEFEF;
}

.picker-container {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}