html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #EFEFEF;
}

.picker-container {
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.picker {
    position: relative;
    display: inline-block;
}

.picker input[type=text] {}

div.calendar {
    position: absolute;
    left: 0;
    /*height: 200px;*/
    width: 220px;
    border: 1px solid #CCCCCC;
    display: none;
}

div.calendar.focused {
    display: block;
}

div.calendar .month-container {
    display: flex;
    justify-content: space-around;
}

div.calendar .month {}

div.calendar .prev-month,
div.calendar .next-month {
    cursor: pointer;
}

div.calendar .days-of-week {
    display: flex;
}

div.calendar .day-of-week {
    display: inline-block;
    flex: 1;
}

div.calendar .days-in-month table {
    width: 100%;
}

div.calendar .week {
    display: flex;
}

div.calendar .day {
    flex: 1;
    cursor: pointer;
}

div.calendar .day.today {
    background: #d3d3d3;
}
